@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px; font-weight: bold; color: #333;">THÔNG TIN THÀNH VIÊN NHÓM</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead style="background-color: #337ab7; color: white;">
            <tr>
                <th style="text-align: center;">STT</th>
                <th style="text-align: center;">Mã số sinh viên</th>
                <th>Họ và tên</th>
                <th style="text-align: center;">Lớp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">2424802010326</td>
                <td>Lại Minh Đăng</td>
                <td style="text-align: center;">D24CNNT02</td>
            </tr>
            <tr>
                <td style="text-align: center;">2</td>
                <td style="text-align: center;">2424802010383</td>
                <td>Lý Thành Long</td>
                <td style="text-align: center;">D24CNNT02</td>
            </tr>
            <tr>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">2424802010464</td>
                <td>Lê Quang Trung</td>
                <td style="text-align: center;">D24CNTT02</td>
            </tr>
        </tbody>
    </table>
</div>
