<div class="container-fluid" style="background-color:#f5f5f5; padding:30px 0; margin-top:30px">
    <div class="container">
        <div class="row">

            <!-- GIỚI THIỆU -->
            <div class="col-md-4">
                <h4 style="color:#337ab7; font-weight:bold"><i class="glyphicon glyphicon-book"></i> VỀ CHÚNG TÔI</h4>
                <p>SachOnline là hệ thống phân phối sách trực tuyến hàng đầu, mang đến cho độc giả hàng ngàn tựa sách hấp dẫn từ văn học, kinh tế, giáo dục đến khoa học kỹ thuật.</p>
                <p><i class="glyphicon glyphicon-earphone"></i> Hotline: 1900 1508</p>
                <p><i class="glyphicon glyphicon-envelope"></i> Email: hotro@sachonline.com</p>
            </div>

            <!-- LIÊN KẾT NHANH -->
            <div class="col-md-4">
                <h4 style="color:#337ab7; font-weight:bold"><i class="glyphicon glyphicon-link"></i> LIÊN KẾT NHANH</h4>
                <ul class="list-unstyled" style="line-height: 2;">
                    <li><a href="@Url.Action("Index", "SachOnline")"><i class="glyphicon glyphicon-menu-right"></i> Trang chủ</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i> Giới thiệu</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i> Chính sách bảo mật</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i> Điều khoản dịch vụ</a></li>
                </ul>
            </div>

            <!-- HỖ TRỢ KHÁCH HÀNG -->
            <div class="col-md-4">
                <h4 style="color:#337ab7; font-weight:bold"><i class="glyphicon glyphicon-question-sign"></i> HỖ TRỢ KHÁCH HÀNG</h4>
                <ul class="list-unstyled" style="line-height: 2;">
                    <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i> Câu hỏi thường gặp</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i> Hướng dẫn mua hàng</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-menu-right"></i> Phương thức thanh toán</a></li>
                    <li><a href="@Url.Action("LienHe", "SachOnline")"><i class="glyphicon glyphicon-menu-right"></i> Liên hệ với chúng tôi</a></li>
                </ul>
            </div>

        </div>

        <hr style="border-color: #ddd;"/>

        <div class="row">
            <div class="col-md-6">
                <p style="margin-top: 10px;">
                    © 2024 - Website Bán Sách Online. Đã đăng ký bản quyền.
                </p>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" style="font-size: 20px; margin-left: 10px; color: #3b5998;"><i class="glyphicon glyphicon-globe"></i></a>
                <a href="#" style="font-size: 20px; margin-left: 10px; color: #55acee;"><i class="glyphicon glyphicon-comment"></i></a>
                <a href="#" style="font-size: 20px; margin-left: 10px; color: #dd4b39;"><i class="glyphicon glyphicon-envelope"></i></a>
            </div>
        </div>
    </div>
</div>

