<div class="container-fluid" style="background-color:#f5f5f5; padding:30px 0; margin-top:30px">
    <div class="container">
        <div class="row">

            <!-- THÔNG TIN SINH VIÊN -->
            <div class="col-md-4">
                <h4 style="color:#337ab7; font-weight:bold">THÔNG TIN SINH VIÊN</h4>
                <p>Họ tên: Lại Minh Đăng</p>
                <p>MSSV: 2424802010326</p>
                <p>Lớp: D24CNTT02</p>
                <p>Email: 2424802010326@student.tdmu.vn</p>
                <p>Điện thoại: 0375755859</p>
            </div>

            <!-- THÔNG TIN CHA MẸ -->
            <div class="col-md-4">
                <h4 style="color:#337ab7; font-weight:bold">THÔNG TIN CHA MẸ</h4>

                <p><strong>Họ và tên cha:</strong> Lại Văn Quân</p>
                <p><strong>Nghề nghiệp:</strong> Công nhân</p>
                <br />
                <p><strong>Họ và tên mẹ:</strong> Nguyễn Thị Phương Hoa</p>
                <p><strong>Nghề nghiệp:</strong> Công nhân</p>
            </div>


            <!-- ĐỊA CHỈ LIÊN HỆ -->
            <div class="col-md-4">
                <h4 style="color:#337ab7; font-weight:bold">ĐỊA CHỈ LIÊN HỆ</h4>
                <p>Địa chỉ: Khu phố 6</p>
                <p>Phường Bình Dương, TP.HCM</p>
                <p>Website: sachonline.com</p>

            </div>


        </div>

        <hr />

        <p class="text-center">
            © 2024 - Website Bán Sách Online | Designed by Lại Minh Đăng
        </p>
    </div>
</div>

