@model IEnumerable<LaiMinhDang.SachOnline.Models.NHAXUATBAN>

<div class="list-group">
    <a href="#" class="list-group-item active text-center" style="font-weight:bold; background-color: #337ab7; border-color: #337ab7;">
        SÁCH THEO NHÀ XUẤT BẢN
    </a>

    @foreach (var item in Model)
    {
        <a href="@Url.Action("SachTheoNhaXuatBan", "SachOnline", new { id = item.MaNXB })" class="list-group-item">
            @item.TenNXB
        </a>
    }
</div>