@model IEnumerable<LaiMinhDang.SachOnline.Models.SACH>
<div class="container">
    <h2 class="text-center">SÁCH BÁN NHIỀU</h2>
    <hr />

    <div class="row">
        @foreach (var sach in Model)
        {
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <img src="~/Images/@sach.AnhBia"
                             class="media-object"
                             style="width:120px" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@sach.TenSach</h4>
                        <p>@sach.MoTa</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

